.container{
    height: 70vh;
    background: url(/assets/images/bg.jpeg) no-repeat;
}

.book-now-container{
    padding: 35px 115px;
}

.book-now-button{
    width: 170px;
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px 0;
    font-weight: bold;
}

h1{
    font-size: 60px;
    color: white;
}